.super-mario {
    width: 150px;
    margin-top: 50px;
    margin-left: 40px;
    position: absolute;
    z-index: 0;
  }
  
  .goomba {
    width: 70px;
    margin-left: 140px;
    margin-top: 230px;
    position: absolute;
    z-index: 1;
  }
  
  .baloon {
    width: 150px;
    position: absolute;
    margin-left: 400px;
    z-index: 2;
  }
  
  .speach {
    font-size: 12px;
    position: absolute;
    margin-left: 410px;
    margin-top: 35px;
    z-index: 3;
  }
  
  .bowser {
    width: 250px;
    position:absolute;
    margin-top: 100px;
    margin-left: 500px;
  }