p, h1, ol, ul {
    text-align: center;
}

.main-list:hover {
    background-color: brown;
}

.main-list:active {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
}

ul, ol {
    list-style: none;
}