<style>
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: red;
    text-align: center;
}

.text {
    background-color: green;
}

p {
    font-weight: 600;
    font-size: 3em;
    text-decoration:underline;
}

body {
    font-size: 16px;
    font-style: oblique;
}

li {
    line-height: 40px;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: rgb(100, 34, 34);
}
</style>